/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/examples/rails/log/*.log
/examples/rails/tmp/
/gemfiles/*.gemfile.lock
/log/
/pkg/
/spec/reports/
/spec/dummy/log/
/spec/dummy/tmp/
/tmp/

# Ignore lock files (e.g. Gemfile.lock)
/Gemfile.lock

# rspec failure tracking
.rspec_status

# Dev databases
*.sqlite3
